
* {
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.screen{
    display: none;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.square{
    /* border-bottom: solid; */
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3), .square:nth-child(4), .square:nth-child(5), .square:nth-child(6){
    border-bottom: solid;;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(4), .square:nth-child(5), .square:nth-child(7), .square:nth-child(8){
    border-right: solid;
}

.choice{
    font-size: 100px;
    color: red;
}