
* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    widows: 100vw;
}

header {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px 0px #000000b5;
    background: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
}

header > h1 {
    margin: 0;
    font-family: math;
}

.start{
    border: solid;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 20px 10px #000000b5;
}

.start > h2 {
    margin: 0;
    font-size: 4em;
    font-family: math;
}

.gameChoice{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.gameChoice > p {
    margin: 0;
    font-size: 1.3em;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.buttons > button {
    font-size: 2em;
    font-family: math;
}

.buttons > button:hover {
    cursor: pointer;
    color: red;
}

main{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.screen{
    display: none;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.gameOver{
    border: solid #00000052;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffffa3;
}

.gameOver > p {
    margin: 0;
    font-size: xxx-large;
    font-family: math;
}

.winner{
    font-size: medium;
}

.replay{
    background-image: url('../replay_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
}

.replay:hover{
    cursor: pointer;
}

.replay:active{
    background-repeat: round;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 5px;
}

.square{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px 0px #000000b5;
}

.free:hover{
    cursor: pointer;
    box-shadow: 10px 10px 15px 2px #000000b5;
}

.choice{
    font-size: 100px;
    color: red;
}