
* {
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.screen{
    display: none;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.gameOver{
    border: solid #00000052;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffffa3;
}

.gameOver > p {
    margin: 0;
    font-size: xxx-large;
    font-family: cursive;
}

.winner{
    font-size: medium;
}

.replay{
    background-image: url('../replay_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
}

.replay:hover{
    cursor: pointer;
}

.replay:active{
    background-repeat: round;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 5px;
}

.square{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px 0px #000000b5;
}

.free:hover{
    cursor: pointer;
    box-shadow: 10px 10px 15px 2px #000000b5;
}

.choice{
    font-size: 100px;
    color: red;
}